# Копируйте этот файл в .env и заполните реальными значениями

# Адрес Directus API
VITE_DIRECTUS_URL=http://89.169.45.238:8055

# Токен авторизации для Directus (опционально)
VITE_DIRECTUS_TOKEN=

# Режим разработки
VITE_DEV_MODE=true